$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

@import "./dic/mixins.scss";
@font-face{
    font-family: "shirikhand";
    src:url(./font/Shrikhand-Regular.ttf);

}
@font-face{
    font-family:"Roboto-black";
    src:url(./font/Roboto-Black.ttf);
}
@font-face{
    font-family: "Roboto-blackitalic";
    src:url(./font/Roboto-BlackItalic.ttf);
}
@font-face{
    font-family: "Roboto-bold";
    src:url(./font/Roboto-Bold.ttf)
}
@font-face{
    font-family:"Roboto-bolditalic";
    src:url(./font/Roboto-BoldItalic.ttf);
}
@font-face{ 
    font-family: "Roboto-italic";
    src:url(./font/Roboto-Italic.ttf)
}
@font-face{
    font-family: "Roboto-light";
    src:url(./font/Roboto-Light.ttf);
}
@font-face{
    font-family:"Roboto-lightitalic";
    src:url(./font/Roboto-LightItalic.ttf);
}
@font-face{
    font-family: "Roboto-medium";
    src:url(./font/Roboto-Medium.ttf);
}
@font-face{
    font-family: "Roboto-mediumitalic";
    src:url(./font/Roboto-MediumItalic.ttf);
}
@font-face{
    font-family: "Roboto-regular";
    src:url(./font/Roboto-Regular.ttf)
}
@font-face{
    font-family: "Roboto-thin";
    src:url(./font/Roboto-Thin.ttf)
}
@font-face{
    font-family: "Roboto-thinitalic";
    src:url(./font/Roboto-ThinItalic.ttf);
}
a{
    text-decoration: none;
    color:black;
}
header{
    width: 100%;
    position:relative;
    
    h1{
        font-family: "shirikhand";
        font-size: 30px;
        text-align: center;
        padding-top:25px;
        padding-bottom: 10px;
        
    }
    i{
        display:block;
        font-size: 20px;
        left:20px;
        top:20px;
        position:absolute;
    }

}
div.banniere-image{
    width: 100%;
    position:relative;
  
    &::before{
        content:"";
        padding-top:58%;
        display:block;
    }
    img{position: absolute;
        width: 100%;
        height:100%;
        object-fit: cover;
        left:0;
        right:0;
        top:0;
        bottom:0;

    }
}

main{
    @include heart;
    width: 100%;
    
    background-color:#f6f6f6;
    position:relative;
    top:-65px;
    border-radius: 40px 40px 0 0;
    padding-bottom:25px;
    
    h2{
        font-family: 'shirikhand';
        font-size:25px;
        font-style: italic;
        padding-top:35px;
        padding-left:15px;
        letter-spacing: 1px;
        
        &::first-letter{
            text-transform: capitalize;
        }
    }
    .menu{
        margin-top:35px;
    
        
        .entree{
            
            transform:scaleY(0);
            transform-origin: top;
           animation:progress 1.5s .2s forwards ;
           
          
            
            
            h3{
                width: 90%;
                margin:25px auto;
                text-transform: uppercase;
                font-family: 'Roboto-thin';
                font-size: 18px;
                
                span{
                    border-bottom: 2px solid $color-tertiary;
                    padding-bottom: 5px;
                }
                }
            .menu-wrapper{
                width: 90%;
                margin:0 auto;
            .first{
               

                
                
                display:flex;
                

                width: 100%;
                
               
                margin:0 auto;
                margin-top: 20px; 
                margin-bottom:15px;

                
                margin-left:0px;
                
                border-radius: 15px;
                box-shadow: 3px 2px 8px rgba(0, 0, 0 ,.2);
                font-size:18px;
               
                
                .container_left{
                     width: 100%;
                   
                    margin-left: 10px;
                    
                    transform-origin: right;
                    transition:1s ;
                    padding-top:15px;
                    padding-bottom:15px;
                    border-radius: 15px;
                    h4{width: 100%;
                        font-family: "riboto-black";
                        margin-bottom: 10px;
                        font-size: 18px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        line-height: 25px;
                        overflow: hidden;
                    }
                .desc{
                 
                   width: 100%;
                   margin:0 auto;
                   display:flex;
                   justify-content: space-between;
                    
                    p{
                    font-family: "riboto-thin";
                    font-size: 16px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    
                    } 
                    span{
                        display:block;
                        font-family: "riboto-black";
                        font-size: 16px;
                        margin-right:25px;
                        margin-left:15px;
                    }    
                   }     
                        
                 }   
                    
                    
                    
               
               .container_right{
    
                width: 0;
                border-radius: 0 15px 15px 0;
                
                
                 transform-origin: right;
                 
                 background-color: $color-tertiary;
                 transition:1s;
                 
                 display:flex;
                 justify-content: center;
                 align-items: center;
                 i{visibility: hidden;
                    width: 50px;
                    height: 50px;
                    background-color: red;
                    text-align: center;
                    line-height: 50px;
                    border-radius: 50%;
                    font-size: 30px;
                    background-color: #fff;
                    color:$color-tertiary;
                    transform: rotate(0deg);
                    transition:transform 1s;
              
                  } 
                  
                }
            
                  &:hover{
                      .container_left{
                          width: 70%;
                          
                       }
                        
                    .container_right{
                        
                        
                        width: 30%;
                    i{
                         visibility: visible;
                         transform:rotate(360deg);
                        
                        }
                        
     
                    }
                
                } 
             
            }
           
               
            
            
 
            .second,.third,.forth{
                @extend .first;
               
                
               
            }
        }
            
    }     
    
        
            
            
            .plat{
                @extend .entree;
                transform:scaleY(0);
                transform-origin: top;
                animation:progress 1.5s 1.5s forwards ;
           
            }
            .dessert{
                @extend .entree;
                transform:scaleY(0);
                transform-origin: top;
                animation:progress 1.5s 2.6s forwards ;
            
               
            }
            .button{
                width: 45%;
                height: 60px;
                background-color:$color-secondary;
                margin:55px auto;
                text-align: center;
                line-height: 60px;
                border-radius: 40px;
                font-family: "riboto-bold";
                background:linear-gradient(180deg,$color-secondary,$color-primary);
                color:white;
                font-size: 18px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0 ,.2);
                &:hover{
                    background: linear-gradient(180deg,lighten($color-secondary,10),lighten($color-primary,10));
                    box-shadow: 2px 2px 5px rgba(0, 0, 0 ,.6);
                }
 
            }
    }
}

@media (min-width:980px) {
    
    main .menu .entree .menu-wrapper{
      
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        .first{
            width: 32%;
            
        }
        }
    }
   
        
    
        
        
        
    
        
        
        
        
        
        
        
    
        
        
        
        
        
        
            
        
        
    
  
     footer{
        width: 100%;
        background-color: #353535;
        margin:0 auto;
        color:#fff;
        margin-top:-65px;
        margin-bottom: 25px;
        padding-bottom: 20px;
        a{
            color:#fff;
        }
        
        h2{
            font-family: 'shirikhand';
            font-size: 22px;
            font-weight: 200;
            padding:25px 0;
            margin:0 auto;
            width: 90%;
            
        }
        ul{
            width: 90%;
            margin:0 auto;
            font-family: 'riboto-medium';
            font-size: 18px;
           li{
               line-height: 35px;
               i{display: inline-block;
                width: 20px;
                   margin-right:16px;
               }
           }
        }
     }
    
@keyframes progress{
    100%{
        transform: scaleY(1);
    }
}

        

    
    