$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

@import "./dic/mixins.scss";
@font-face{
    font-family: "shirikhand";
    src:url(./font/Shrikhand-Regular.ttf);

}
@font-face{
    font-family:"Roboto-black";
    src:url(./font/Roboto-Black.ttf);
}
@font-face{
    font-family: "Roboto-blackitalic";
    src:url(./font/Roboto-BlackItalic.ttf);
}
@font-face{
    font-family: "Roboto-bold";
    src:url(./font/Roboto-Bold.ttf)
}
@font-face{
    font-family:"Roboto-bolditalic";
    src:url(./font/Roboto-BoldItalic.ttf);
}
@font-face{ 
    font-family: "Roboto-italic";
    src:url(./font/Roboto-Italic.ttf)
}
@font-face{
    font-family: "Roboto-light";
    src:url(./font/Roboto-Light.ttf);
}
@font-face{
    font-family:"Roboto-lightitalic";
    src:url(./font/Roboto-LightItalic.ttf);
}
@font-face{
    font-family: "Roboto-medium";
    src:url(./font/Roboto-Medium.ttf);
}
@font-face{
    font-family: "Roboto-mediumitalic";
    src:url(./font/Roboto-MediumItalic.ttf);
}
@font-face{
    font-family: "Roboto-regular";
    src:url(./font/Roboto-Regular.ttf)
}
@font-face{
    font-family: "Roboto-thin";
    src:url(./font/Roboto-Thin.ttf)
}
@font-face{
    font-family: "Roboto-thinitalic";
    src:url(./font/Roboto-ThinItalic.ttf);
}
a{
    text-decoration: none;
    color:black;
}
header{
    width: 100%;
    position:relative;
    
    h1{
        font-family: "shirikhand";
        font-size: 30px;
        text-align: center;
        padding-top:25px;
        padding-bottom: 10px;
        
    }
    i{
        display:block;
        font-size: 20px;
        left:20px;
        top:20px;
        position:absolute;
    }

}
div.banniere-image{
    width: 100%;
    img{
        width: 100%;

    }
}
main{
    @include heart;
    width: 100%;
    
    background-color:#f6f6f6;
    position:relative;
    top:-65px;
    border-radius: 40px 40px 0 0;
    padding-bottom:100px;
    
    h2{
        font-family: 'shirikhand';
        font-size:25px;
        font-style: italic;
        padding-top:35px;
        padding-left:15px;
        
        &::first-letter{
            text-transform: capitalize;
        }
    }
    .menu{
        margin-top:35px;
        .entree{
            background-color: #f6f6f6;
            margin-bottom:50px;
            h3{
                width: 97%;
                margin:0 auto;
                text-transform: uppercase;
                font-family: 'Roboto-thin';
                font-size: 18px;
                
                span{
                    border-bottom: 2px solid $color-tertiary;
                    padding-bottom: 5px;
                }
                }
            .first{
                width: 97%;
                background-color: #fff;
                margin:0 auto;
                text-indent: 10px;
                padding-top:15px;
                padding-bottom:15px;
                margin-top: 20px;
                position:relative;
                line-height: 25px;
                border-radius: 15px;
                box-shadow: 3px 2px 8px rgba(0, 0, 0 ,.2);
                margin-bottom:15px;
                h4{
                    font-family: "riboto-black";
                    font-size:16px;
                }
                p{
                    font-family: "riboto-thin";
                    font-size:14px;

                }
                span{
                    display:block;
                    position:absolute;
                    top:40px;
                    right:15px;
                    font-size:16px;
                    font-family: "riboto-black";
                }

                }
            
            }
            .second,.third{
                @extend .first;
            }
            
            }
            .plat{
                @extend .entree;
            }
            .dessert{
                @extend .entree;
            }
            .button{
                width: 45%;
                height: 60px;
                background-color:$color-secondary;
                margin:0 auto;
                text-align: center;
                line-height: 60px;
                border-radius: 40px;
                font-family: "riboto-bold";
                background:linear-gradient(180deg,$color-secondary,$color-primary);
                color:white;
                font-size: 18px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0 ,.2);
                &:hover{
                    background: linear-gradient(180deg,lighten($color-secondary,10),lighten($color-primary,10));
                    box-shadow: 2px 2px 5px rgba(0, 0, 0 ,.6);
                }
                

            }

                
        
        

    }
    footer{
        width: 100%;
        background-color: #353535;
        margin:0 auto;
        color:#fff;
        margin-top:-70px;
        margin-bottom: 25px;
        padding-bottom: 20px;
        a{
            color:#fff;
        }
        
        h2{
            font-family: 'shirikhand';
            font-size: 22px;
            font-weight: 200;
            padding:25px 0;
            margin:0 auto;
            width: 90%;
            
        }
        ul{
            width: 90%;
            margin:0 auto;
            font-family: 'riboto-medium';
            font-size: 18px;
           li{
               line-height: 35px;
               i{display: inline-block;
                width: 20px;
                   margin-right:16px;
               }
           }
        }
        
        
    }